#content {
    font-family: 'Montserrat', sans-serif;
}

.page-title {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 26px;
}

html,
body {
  height: 100%;
}

ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; */
    background-color: rgb(163, 163, 163);
  }
  
  li a {
    display: block;
    color: rgb(35, 35, 35);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(212, 212, 212);
  }

  .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
}

.map {
  height: 90%;
  width: 100%;
  position: fixed;
  text-align: center;
}

#map {
  width: 60%; 
  height: 80%; 
  margin: 0px auto; 
  display: inline-block
}

.infographics{
  display: flex;
  justify-content: space-evenly;
}

img {
  height: 400px;
  width: auto;
}
