#content {
    font-family: 'Montserrat', sans-serif;
}

.page-title {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    padding-top: 30px;
}

ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; */
    background-color: rgb(163, 163, 163);
  }
  
  li a {
    display: block;
    color: rgb(35, 35, 35);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(212, 212, 212);
  }

  .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
}

.map {
  height: 80px;
}

#map {
    height: 100%
}
